.full-width-table {
	width: 100%;
}

.tabela {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: scroll;
	max-height: 75%;
}

#wpp-icon {
	width: 30px;
}

.content {
	text-align: left;
	justify-content: center;
}

.edit,
.delete {
	margin-right: 10px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	color: #e5e4e2;
}

.spinner {
	margin: 30px auto 0 auto;
	color: #3e4095;
}

.fab-bottom-left {
	position: fixed !important;
	left: 15px;
	bottom: 15px;
	background-color: #3e4095;
}

.add {
	margin-top: 20px;
}
