.full-width-table {
	width: 100%;
}

.tabela {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: scroll;
	max-height: 590px;
}

#wpp-icon {
	width: 25px;
}

.content {
	text-align: left;
	justify-content: center;
}

.copy {
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}

.spinner {
	margin: 30px auto 0 auto;
	color: #3e4095;
}

.fab-bottom-left {
	position: fixed;
	left: 10px;
	bottom: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #424242;
}

.material-search {
	color: #424242;
}
