.full-width-table {
	width: 100%;
}

.tabela {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: scroll;
	max-height: 590px;
}

#wpp-icon {
	width: 25px;
}

.content {
	text-align: left;
	justify-content: center;
}

.copy {
	margin-left: 10px;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}

.spinner {
	margin: 30px auto 0 auto;
	color: #3e4095;
}

.fab-bottom-left {
	position: fixed;
	left: 5px;
	bottom: 5px;
	cursor: pointer;
	color: #424242;
}

#wpp-icon:hover,
#wpp-icon:focus,
.copy:hover,
.copy:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.2em);
}

.search-form {
	font-size: 20px;
}

.search-input {
	border: none;
	font-size: 1rem;
	font-family: inherit;
	text-align: center;
	width: 10rem;
	border-radius: 0.8rem;
	color: grey;
	border: 1px solid #fff;
	transition: all 0.3s;
	height: 2rem;
	margin-bottom: 15px;
	margin-left: 32px;
}
