.full-width-table {
	width: 100%;
	min-width: 1200px;
	margin: 0;
}

.tabela {
	margin-top: 20px;
	margin-bottom: 10px;
	overflow: scroll;
	max-height: 590px;
}

#wpp-icon {
	width: 25px;
}

.content {
	text-align: left;
	justify-content: center;
}

.copy {
	font-size: 25px;
	margin-top: 4px;
	text-decoration: none;
	color: #424242;
}

.spinner {
	margin: 30px auto 0 auto;
	color: #3e4095;
}

.fab-bottom-left {
	position: flex-end;
	left: 10px;
	bottom: 5px;
	cursor: pointer;
	text-decoration: none;
	color: #424242;
}

.material-search {
	color: #424242;
}

@media (max-width: 576px) {
	.fab-bottom-left {
		font-size: 20px;
	}
}
