<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<mat-dialog-content class="dialog-content">
	<mat-form-field class="form-field">
		<input
			type="text"
			class="input-field"
			matInput
			placeholder="Código"
			[(ngModel)]="disciplina.codigo"
			(keyup.enter)="onSave()"
			required
			minlength="6"
		/>
	</mat-form-field>

	<mat-form-field>
		<input
			type="text"
			class="input-field"
			matInput
			placeholder="Disciplina"
			[(ngModel)]="disciplina.nome"
			(keyup.enter)="onSave()"
			required
			minlength="6"
		/>
	</mat-form-field>

	<mat-form-field>
		<input
			type="text"
			class="input-field"
			matInput
			placeholder="Professor"
			[(ngModel)]="disciplina.professor"
			(keyup.enter)="onSave()"
			required
			minlength="6"
			#p
		/>
	</mat-form-field>

	<mat-form-field>
		<input
			type="number"
			class="input-field"
			matInput
			placeholder="Turma"
			[(ngModel)]="disciplina.turma"
			(keyup.enter)="onSave()"
			required
		/>
	</mat-form-field>

	<mat-form-field>
		<input
			type="text"
			class="input-field"
			matInput
			placeholder="Horário"
			[(ngModel)]="disciplina.horario"
			(keyup.enter)="onSave()"
			required
			minlength="3"
		/>
	</mat-form-field>
	<mat-form-field>
		<input
			type="text"
			class="input-field"
			matInput
			placeholder="Link"
			[(ngModel)]="disciplina.link"
			(keyup.enter)="onSave()"
			required
			minlength="3"
		/>
	</mat-form-field>
</mat-dialog-content>

<mat-dialog-content>
	<button mat-button mat-dialog-close>Cancelar</button>
	<button mat-button [disabled]="checkFunc()" (click)="onSave()">Salvar</button>
</mat-dialog-content>
