.footer {
	bottom: 0;

	display: flex;
	justify-content: flex-end;
	background-color: inherit;
	margin-top: 15px;
}

#developed-by {
	width: 60px;
}

#caero-logo {
	width: 90px;
	margin-bottom: 10px;
}
@media (max-width: 576px) {
	#developed-by {
		width: 40px;
	}

	#caero-logo {
		width: 70px;
	}
}
