/* You can add global styles to this file, and also import other style files */
/*#302f2d #121212*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
	height: 100%;
	background-color: #e5e4e2;
}
body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	color: #000;
}

.v-middle {
	vertical-align: middle;
}

.msg-success {
	background-color: #fff;
	color: rgb(14, 14, 14);
}

.msg-error {
	background-color: #e35e6b;
	color: #e5e4e2;
}

.btn-animation:hover,
.btn-animation:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.2em);
}

.search-form {
	font-size: 20px;
	align-content: center;
	text-align: center;
	margin-top: 25px;
}

.search-input {
	border: none;
	font-size: 1rem;
	font-family: inherit;
	text-align: center;
	width: 25rem;
	border-radius: 0.8rem;
	color: grey;
	border: 1px solid #fff;
	transition: all 0.3s;
	height: 2rem;
	margin-bottom: 15px;
}

.material-search {
	color: #424242;
}

@media (max-width: 576px) {
	.search-input {
		font-size: 0.9rem;
		width: 21rem;
	}
}
