/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	background-color: #e5e4e2;
}
body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	color: #e5e4e2;
}

.v-middle {
	vertical-align: middle;
}

.msg-success {
	background-color: #fff;
	color: rgb(14, 14, 14);
}

.msg-error {
	background-color: #e35e6b;
	color: #e5e4e2;
}
